<<<<<<< HEAD
<<<<<<< HEAD
#sara {
    color: rgb(190, 37, 101);
}
=======
>>>>>>> 7f32005d2d0ffa17f0051f878d6ad04cbdf121a2
=======
#leo
{
    background-color: aqua;
}
#ilyan {

    background-color: aquamarine;
}
>>>>>>> f2614fc6e35263420ff0301f4302477768fcf8ad
